nav {
    width: 1888px;
}

.nav-link>a {
  color: aqua;
}
a {
    padding: 15px;
    font-size: 30pt;
}
a.nav-link {
    color: chartreuse;
}

header {
    height: 1920px;
    width: 1080px;
    background-size: cover;
    background-repeat: no-repeat;
}

#about_me {
  margin-left: 225px;
    margin-top: 182px;
}

h1{
    font-size: 3.5rem;
    color: brown;
    height: 75px;
    width: 455px;
    margin-left: 370px;
    border-radius: 15px;
    border-color: green;
}

.col-5>h1 {
    text-align: justify;
}
.col-5>span {
    text-align: justify;
    font-size:17pt;
}
#imgs>img {
    padding: 20px;
}